html {
    font-family: "Lucida Console", Monaco, monospace;
    background-color: #84C9D6;
    color: #1E353A;
}

h3 {
    background-color: #98D2DE;
}

.left {
  width: 10px;
  height: 10px;
  top: 10px;
  left: 20px;
}

.right {
  width: 10px;
  height: 10px;
  top: 10px;
  left: 220px;
}

.circle {
  background-color: #910F0F;
  position: absolute;
  transition: all 2s;
}

.intransition {
    border-radius: 50%;
}
